@page "/about"

<PageTitle>About</PageTitle>
<h1>Why are you here?</h1>

<p>This is an app for me to store, view, and edit my recipes.</p>
<p>Eventually it should have integration with the Kroger API so I can create shopping lists and maybe even order stuff through it.</p>
<p>But, you already knew that. Because you're me. Stop wasting your time and get working.</p>
